
body {
  font-family: "Lato", sans-serif;
}

.svg {
  size: 80%;
  height: 350;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.svg a:hover {
  color: #f1f1f1;
}

        .ratio4-3 {
 width: 50%;
 background-image: url(image-with-4-3-aspect-ratio.svg);
 background-size: cover;
 height: 0;
 padding: 0; /* reset */
 padding-bottom: calc(50% *  / 4);
}

.inhalt {
  margin-top: 365;
  margin-left: ; /* Same as the width of the sidenav */
  font-size: 12px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.p {
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
  border: 1px black solid;
  padding: 3px;
}
.h1 {
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
  border: 1px black solid;
  padding: 3px;
}
.h2 {
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
  border: 1px black solid;
  padding: 3px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
